{% extends "base.html" %}
{% block content %}
<link href="static/index.css" rel="stylesheet">

<div class="container">
<h3>Twoi Asystenci</h3>
<div class="accordion" id="your-assistants">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="row align-items-center">
            <div class="col">
      Jerzy
            </div>
        <div class="col">
      last Activity: 20.01.2015 18:35
        </div>

    </div>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
          <h5>Wybierz zadanie dla asystenta</h5>
<table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nazwa</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                            </thead>
                                <tbody>
                                {% if data %}
                        {% for element in skills %}
                                <tr>
                                    <td>{{ element.name }}</td>
                                    <td><button type="button" class="btn btn-outline-primary" >Wykonaj</button></td>
                                    <td><button type="button" class="btn btn-outline-primary">Logi</button></td>

                                </tr>
                        {% endfor %}
                                {% endif %}
                            </tbody>
                            </table>
</div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <div class="row align-items-center">
            <div class="col">
      Jarek
            </div>
        <div class="col">
      last Activity: 20.01.2015 18:35
        </div>

    </div>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
      <div class="accordion-body">
          <h5>Wybierz zadanie dla asystenta</h5>
<table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Nazwa</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                            </thead>
                                <tbody>
                                {% if data %}
                        {% for element in skills %}
                                <tr>
                                    <td>{{ element.name }}</td>
                                    <td><button type="button" class="btn btn-outline-primary" >Wykonaj</button></td>
                                    <td><button type="button" class="btn btn-outline-primary">Logi</button></td>

                                </tr>
                        {% endfor %}
                                {% endif %}
                            </tbody>
                            </table>
</div>
      </div>
    </div>
  </div>
</div>



<div class="container">
    <h3>Aktualnie zlecone zadania</h3>
<table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">nazwa zadania</th>
                                <th scope="col">data stworzenia</th>
                                <th scope="col">status</th>

                            </tr>
                            </thead>
                                <tbody>
                                {% if data %}
                        {% for element in data %}
                                <tr>
                                    <td>{{ element.id }}</td>
                                    <td>{{ element.name }}</td>
                                    <td>{{element.createAt}}</td>
                                    <td>{{ element.status }}</td>

                                </tr>
                        {% endfor %}
                                {% endif %}
                            </tbody>
                            </table>
</div>

{% endblock %}