{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}
<h1>Wylogowywanie</h1>
<p>Zostłeś pomyślnie wylogowany.</p>
    <p>Możesz <a href="{% url "login" %}"</a>zalogować sie ponownie. </p>
{% endblock %}
