{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}
<link href="static/signin.css" rel="stylesheet">
<main class="form-signin">
<div class="login-form">
{% if form.errors %}
<div class="alert alert-danger" role="alert">
  Nazwa użytkownika lub hasło jest nieprawidłowe - spróbuj ponownie
</div>

{% else %}
<p>Wypełnij poniższy formularz, aby się zalogować:</p>
{% endif %}

    <form action="." method="post">
        <div class="form-floating">
            {{ form.as_p}}
            {% csrf_token %}
        </div>
    <input type="hidden" name="next" value="{{ next }}" />
    <p><input  class="btn-lg btn-primary" type="submit" value="Zaloguj się"></p>

    </form>
</div>
</main>

{% endblock %}




